@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:wght@400;600;700&family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    a {
        text-decoration: none;
    };
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

$text_bold: #202020;
$text_regular: #4A5056;
$grey: #808B91;
$hover: #E7E7EE;
$accent2: #CBE637;
$accent1: #FFE143;
$white: #ffffff;
$background: #F7F8FC;

h1 {
    font-family: Bebas Neue;
    font-size: 72px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color:$text_bold;
}
h2 {
    //styleName: 2/H2;
    font-family: Bebas Neue;
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color:$text_bold;
}
h3 {
    //styleName: 2/H3;
    font-family: Bebas Neue;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color:$text_bold;
}
h4 {
    //styleName: 2/H4;
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color:$text_bold;
}
.text-bold {
    //styleName: 2/body_bold;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color:$text_bold;
}
.text-regular {
    //styleName: 2/body_regular;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color:$text_bold;
}
.caption {
    //styleName: caption;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color:$text_bold;
}
.container {
    width: calc(100% - 224px);
    @media(max-width:768px) {
        width: 720px;
    }
    @media(max-width:360px) {
        width: 312px;
    }
    margin: 0 auto;
}
.swiper {
    width: 100%;
    .swiper-button-prev::after {
        font-size: 0px;
    }
    .swiper-button-next::after {
        font-size: 0px;
    }
}
.show {
    display: block;
}
.hide {
    display: none;
}

//CSS Styles

.nav {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid $hover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    background-color:$white;
    @media(max-width:768px) {
        overflow: hidden;
        max-width:768px;
        height: 88px;
    }
    @media(max-width:360px) {
       height: 64px;
       max-width:360px;

    }
    &__box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width:768px) {
            justify-content: flex-start;
            padding-left: 35px ;
        }
        @media(max-width:360px) {
            padding-left: 27px;
        }
        .nav__logo {
            width: 237px;
            height: 64px;
            margin-left: 112px;
            @media(max-width:768px) {
                
                margin-right:171px;
                margin-left: 35px;
            }
            @media(max-width:360px) {
                width: 121px;
                height: 32px;
                margin-left: 27px;
                margin-right: 34px;
            }
        }
        .nav__items {
            display: flex;
            align-items: center;
            margin-right: 110px;
            margin-left: 155px;
            &_item {
                margin-right: 46px;
                &:last-child{
                    margin-right: 0px;
                }
            }
            @media(max-width:768px) {
                display: none;
            }
            
        }
        .nav__contact-button {
            background-color: $accent1;
            border:none;
            outline: none;
            padding: 54px 112px;
            transition: 0.5s;
            &:hover {
                background-color: $accent2;
            }
            @media(max-width:768px) {
                padding: 34px 49px;
                color:$text_bold;
                font-family: IBM Plex Sans;
                font-size: 20px;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: center;

            }
            @media(max-width:360px) {
                padding: 16px 22px;
                
                h4 {
                   
                    width: 81px;
                    font-family: IBM Plex Sans;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: center;
                }
                
            }
        }
        .nav__burger_content {
            display: none;
        }
        @media(max-width:768px) {
            .nav__burger_box {
                position: relative;
                width: 24px;
                height: 24px;
                display: flex;
                flex-direction: column;
                align-items:center;
                justify-content: center;
                .nav__burger_line-top {
                    width: 25px;
                    height: 3px;
                    background-color:black;
                    border-radius:30px;
                    margin-bottom: 2px;
                    position: relative;
                    &::before {
                        content:"";
                        width: 25px;
                        height: 3px;
                        background-color: black;
                        position: absolute;
                        border-radius:30px;
                        top: -5px;
                        left: 0;
                    }
                }
                .nav__burger_line-bottom {
                    width: 25px;
                    height: 3px;
                    background-color:black;
                    border-radius:30px;
                    &::after{
                        content:"";
                        width: 25px;
                        height: 3px;
                        background-color: black;
                        position: absolute;
                        border-radius:30px;
                        bottom: 3px;
                        left: 0;
                    }
                    
                }
            }
        }
    }
}
.header {
    width: 100%;
    position: relative;
    height: fit-content;
    padding: 240px 0px 112px 0px ;
    @media(max-width:768px) {
        overflow: hidden;
        max-width: 768px;
        padding: 196px 0px 320px 0px;  
    }
    @media(max-width:360px) {
        padding: 136px 0px 320px 0px;
    }

    &__box {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media(max-width:768px) {
            flex-direction: column;
        }
        .header__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media(max-width:768px) {
                align-items:center;
            }
            @media(max-width:360px) {
                align-items:center;
            }
            .header__title {
                & span {
                    color:$accent1;
                }
                margin-bottom: 12px;
                @media(max-width:768px) {
                   text-align: center;
                   font-family: Bebas Neue;
                   font-size: 63px;
                   font-weight: 700;
                   line-height: 64px;
                   letter-spacing: 0em;
                    
                }
                @media(max-width:360px) {
                font-family: Bebas Neue;
                font-size: 28px;
                font-weight: 700;
                line-height: 36px;
                letter-spacing: 0em;
                text-align: center;

                }
            }
            .header__subtitle {
                @media(max-width:768px) {
                    width: 495px;
                }
                @media(max-width:360px) {
                    width: 312px;
                    text-align:center;
                }
                width: 54%;
                margin-bottom: 28px;
            }
            .header__buttons {
                display: flex;
                align-items: center;
                @media(max-width:360px) {
                    flex-direction: column;
                }
                &_button {
                    background: none;
                    border:none;
                    outline: none;
                    padding:13px 28px;
                    border-radius: 32px;
                    @media(max-width:360px) {
                        padding: 13px 106px;
                    }
                }
                .button-left {
                    border:2px solid $accent1;
                    transition: 0.5s;
                    margin-right: 25px;
                    &:hover {
                        background-color: $accent1;
                    }
                    @media(max-width:360px) {
                        margin-right: 0px;
                        padding: 13px 115px;
                        margin-bottom: 16px;
                    }
                }
                .button-right {
                    border:2px solid $accent2;
                    transition: 0.5s;
                    &:hover {
                        background-color: $accent2;
                    }
                }
            }
        }
        .header__right {
            @media(max-width:768px) {
                width: 768px;
                height: 428px;
                right: -20%;
                top:46%;
            }
            @media(max-width:360px) {
                width: 730px;
                height: 630px;
                right: -47%;
                top: 45%;
            }
            position: absolute;
            top: 128px;
            right: 0;
            width: 57%;
            height: 500px;
            
            & img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
}
.development-sites {
    width: 100%;
    height: fit-content;
    padding: 112px 0px;
    background-color: $background;
    .development__box {
        width: 100%;
        display: flex;
        align-items: flex-start;
        @media(max-width:768px) {
            flex-direction: column;
        }
        .development__content {
            width:42%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right:104px;
            @media(max-width:768px) {
                width: 72%;
            }
            @media(max-width:360px) {
                width: 100%;
            }
            .development__title {
                margin-bottom: 16px;
                @media(max-width:360px) {
                    font-family: Bebas Neue;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 36px;
                    letter-spacing: 0em;
                    text-align: left;

                }
            }
            .development__subtitle {
                margin-bottom: 28px;
                
            }
            .development__button {
                background-color: $accent1;
                padding: 13px 28px;
                border-radius: 32px;
                border:none;
                outline: none;
                transition: 0.5s;
                &:hover {
                    background-color: $accent2;
                }
                @media(max-width:768px) {
                    margin-bottom: 40px;
                }
                @media(max-width:360px) {
                    padding: 13px 88px;
                }
            }
        }
        .development__cards {
            width:50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media(max-width:768px) {
                width: 100%;
            }
            &_card {
                @media(max-width:360px) {
                    .development__card_title {
                        margin-bottom: 8px;
                    }
                }
                display: flex;
                align-items: center;
                
                height: fit-content;
                padding: 32px 54px 32px 32px;
                transition: 0.5s;
                margin-bottom: 16px;
                &:last-child {
                    margin-bottom: 0px;
                }
                &:hover {
                    background-color: $white;
                }
                @media(max-width:360px) {
                    align-items:flex-start; 
                }
                
                .development__card-icon {
                    width: 72px;
                    height: 72px;
                    margin-right: 24px;
                    @media(max-width:360px) {
                        width: 40px;
                        height: 40px;
                    }
                }
                .development__card_content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    
                    
                   
                }
            }
        }
    }
}
.technologies {
    width: 100%;
    height: fit-content;
    padding-bottom: 112px;
    background-color: $background;
    &__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .technologies__title {
            margin-bottom: 40px;
        }
        .technologies__cards {
            display: flex;
            align-items: flex-start;
            @media(max-width:768px) {
                display: grid;
                grid-template-columns: repeat(2,348px);
                grid-template-rows: repeat(2,348px);
                gap:24px;
                
            }
            @media(max-width:360px) {
                grid-template-columns: repeat(1,312px);
                grid-template-rows: repeat(3,312px);
            }
            &_card {
                @media(max-width:768px) {
                    padding: 24px 24px 134px 24px;
                    height: fit-content;
                    &:last-child {
                        padding: 24px 24px 156px 24px;
                    }
                }
                @media(max-width:360px) {
                    padding: 24px 24px 84px 24px;
                    &:last-child {
                        padding: 24px 24px 96px 24px;
                    }
                }
                position: relative;
                padding: 42px 42px 154px 42px;
                transition: 0.5s;
                height: 384px;
                &:nth-of-type(2n) {
                    margin: 0px 32px;
                    @media(max-width:768px) {
                        margin: 0px 0px;
                    }
                }
               
                &:hover {
                    background-color: $white;
                }
               
                .technologies__card_title {
                    margin-bottom: 16px;
                    color:$text_bold;
                }
                .technologies__card_text {
                    
                    color:$text_regular;                  
                    
                    
                }
                .technologies__card_icon {
                    position: absolute;
                    bottom: 42px;
                    right: 42px;
                    @media(max-width:360px) {
                        width: 42px;
                        height: 42px;
                        bottom:25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}
.steps {
    width: 100%;
    height: fit-content;
    padding: 72px 0px 102px 0px;
    @media(max-width:360px) {
        max-width: 360px;
        padding: 72px 0px 0px 0px;
    }
    &__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        .steps__title {
            margin-bottom: 16px;
            @media(max-width:360px) {

                font-family: Bebas Neue;
                font-size: 32px;
                font-weight: 700;
                line-height: 36px;
                letter-spacing: 0em;
                text-align: left;

            }
        }
        .steps__header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
            @media(max-width:360px) {
                flex-direction: column;
                margin-bottom: 0px;
            }
            .slider__arrow {
                display: flex;
                align-items: center;
                &-next {
                    background-color: #F4F4F6 ;
                    border-radius: 50%;
                    padding: 10px;
                    margin-left: 16px;
                    transition: 0.5s;
                    &:hover {
                        background-color: $hover;
                    }
                    @media(max-width:360px) {
                        position: absolute;
                        top: 44%;
                        right: -10%;
                    }
                    img {
                        @media(max-width:360px) {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                &-prev {
                    background-color: #F4F4F6 ;
                    border-radius: 50%;
                    padding: 10px;
                    transition: 0.5s;
                    &:hover {
                        background-color: $hover;
                    }
                    @media(max-width:360px) {
                        position: absolute;
                        top: 44%;
                        left: -10%;
                    }
                    img {
                        @media(max-width:360px) {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
        .swiper {
            &-slide {
                width: 328px;
                @media(max-width:360px) {
                    padding: 0px 14px;
                }
            }
            &__number {
                width: 60px;
                height: 60px;
                padding: 20px;
                border-radius: 50%;
                margin-bottom: 24px;
                background-color: $accent1;
                h4 {
                    color:$white;
                }
                position: relative;
                @media(max-width:360px) {
                    padding: 12px;
                    display: flex;
                    align-items:center;
                    justify-content: center;
                }

                &::after {
                    content:"";
                    width: 420px;
                    background-color: $accent1;
                    height: 2px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    z-index: -1;
                    @media(max-width:360px) {
                        width: 354px;
                    }
                }
                h4 {
                    @media(max-width:360px) {
                    font-family: IBM Plex Sans;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    
                    }
                }
            }
            &__title {
                margin-bottom: 16px;

            }
        }
    }
}
.services {
    width:100%;
    height: fit-content;
    padding: 112px 0px;
    background-color: $background;
    @media(max-width:360px) {
        padding: 72px 0px;   
        max-width:360px;
    }
    @media(max-width:768px) {
        max-width: 768px;
    }
    &__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .services__title {
            margin-bottom: 40px;

        }
        .services__cards {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &_card {
                padding: 30px;
                display: flex;
                align-items: center;
                transition: 0.5s;
                &:hover{
                    background-color: $white;
                 }   
                .services__card_img {
                    margin-right: 16px;
                }
                @media(max-width:768px) {
                   padding: 20px;
                }
            }
            &_top {
                display: grid;
                gap: 32px;
                grid-template-columns: repeat(3,380px);
                grid-template-rows: repeat(2,104px);
                margin-bottom: 32px;
                @media(max-width:768px) {
                    grid-template-columns: repeat(2,348px);
                    grid-template-rows: repeat(3,104px);
                    gap: 24px;
                    margin-bottom: 24px;
                }
                @media(max-width:360px) {
                    grid-template-columns: repeat(1,312px);
                    grid-template-rows: repeat(6,88px);
                }
            }
            &_bottom {
                display: flex;
                align-items: flex-start;
                @media(max-width:768px) {
                    flex-direction: column;
                }
                &-left {
                    display: grid;
                    gap: 32px;
                    grid-template-columns: repeat(2,384px);
                    grid-template-rows: repeat(2,104px);
                    @media(max-width:768px) {
                        grid-template-columns: repeat(2,348px);
                        grid-template-rows: repeat(2,104px);
                        gap: 24px;
                        margin-bottom: 24px;
                    }
                    @media(max-width:360px) {
                        grid-template-columns: repeat(1,312px);
                        grid-template-rows: repeat(4,88px);
                    }
                }
                .services__cards_form {
                    width: 40%;
                    height: 240px;
                    margin-left: 32px;
                    @media(max-width:768px) {
                        width: 100%;
                        margin-left: 0px;
                     }
                     @media(max-width:360px) {
                        width: 100%;
                        padding:24px;
                    }
               
                    padding: 40px;
                    background: url(/public/pictures/background/services-form-bg.png) center/cover no-repeat;
                    .services__form_title {
                        margin-bottom: 8px;

                    }
                    .services__form_text {
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}
.development-mobile {
    @media(max-width:768px) {
        max-width:768px       
    }
    @media(max-width:360px) {
        padding: 72px 0px; 
        max-width: 360px;  
    }
    width: 100%;
    height: fit-content;
    padding: 112px 0px;
    .development__box {
        width: 100%;
        display: flex;
        align-items:flex-start;
        @media(max-width:768px) {
            flex-direction: column;
         }
        .development__content {
            @media(max-width:768px) {
                width: 75%;
            }
            @media(max-width:360px) {
                width: 100%;
            }
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 104px;
            .development__title {
                margin-bottom: 16px;
            }
            .development__subtitle {
                margin-bottom: 28px;
                
            }
            .development__button {
                background-color: $accent1;
                padding: 13px 28px;
                border-radius: 32px;
                border:none;
                outline: none;
                transition: 0.5s;
                &:hover {
                    background-color: $accent2;
                }
                @media(max-width:768px) {
                    margin-bottom: 48px;
                }
                @media(max-width:360px) {
                    padding: 13px 88px;
                }
            }
        }
        .development__cards {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 55%;
            @media(max-width:768px) {
                width: 100%;
            }

            .development__card {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border-top: 2px solid $background;
                padding: 16px 0px;
                &:last-child {
                    border-bottom: 2px solid $background;
                }
                
               
                .development__card_header {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .development__card_button{
                        background-color: $background;
                        padding: 12px;
                        border-radius: 50%;
                    }
                    .development__card_title {
                        @media(max-width:360px) {
                            width: 80%;
                            margin-bottom: 8px;  
                        }
                    }
                    
                }
                .development__card_content {
                    width: 85%;
                    @media(max-width:360px) {
                        width: 90%;
                    }
                    @media(max-width:768px) {
                        width: 70%;
                    }
                }
            }
        }
    }
}
.trust {
    width: 100%;
    height: fit-content;
    padding-top: 112px;
    background-color: $background;
    @media(max-width:768px) {
        padding: 88px 0px;
    }
    &__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .trust__title {
            margin-bottom: 42px;
        }
        .trust__cards {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &_card {
                margin-bottom: 62px;
                padding: 56px;
                width: 100%;
                display: flex;
                align-items: flex-start;
                background-color: $white;
                @media(max-width:768px) {
                    flex-direction: column;
                    padding: 48px;
                }
                @media(max-width:360px) {
                    padding: 24px;
                    margin-bottom: 24px;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
                .trust__card_left {
                    margin-right: 72px;
                    width: 36%;
                    height: 392px;
                    @media(max-width:768px) {
                        margin-right: 0px;
                        margin-bottom: 40px;
                    }
                    @media(max-width:360px) {
                        width: 264px;
                        height: 264px;
                        margin-right: 0px;
                    }   
                    img {
                        @media(max-width:360px) {
                            width: 264px;
                            height: 264px;
                            margin-right: 0px;
                        }   
                    }
                }
                .trust__card_content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    .trust__card_title {
                        margin-bottom: 12px;
                    }
                    .trust__card_text {
                        margin-bottom: 24px;
                        color:$text_regular;
                    }
                    .trust__card_list_title {
                        margin-bottom: 10px;
                        color:$text_bold;
                    }
                    .trust__card_lists{
                        display: flex;
                        align-items: flex-start;
                        margin-bottom: 43px;
                        @media(max-width:360px) {
                            flex-direction: column;
                            margin-bottom: 17px;
                        }
                        ul {
                            list-style-type: none;
                            margin-right: 45px;
                            &:last-child {
                                margin-right: 0px;
                            }
                            li {
                                margin-bottom: 10px;
                                position: relative;
                                margin-left: 22px;
                                color:$text_regular;
                                &::before {
                                    content:"";
                                    width: 8px;
                                    height: 8px;
                                    background-color: $accent1;
                                    position: absolute;
                                    border-radius: 50%;
                                    top: 50%;
                                    left: -16px;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                    .trust__card_button {
                        padding: 13px 26px;
                        color:$text_bold;
                        border-radius: 32px;
                        background-color:$accent1;
                        border:none;
                        outline: none;
                        transition: 0.5s;
                            &:hover {
                                background-color: $accent2;
                            }
                            @media(max-width:360px) {
                                padding: 13px 75px;
                            }
                    }
                }
            }
        }
    }
}
.about {
    width: 100%;
    height: fit-content;
    position: relative;
    padding:112px 0px;
    overflow: hidden;
    background-color: $background;
    @media(max-width:768px) {
        max-width:768px;
        padding: 88px 0px;
    }
    &__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media(max-width:360px) {
            align-items:center;       
        }
        .about__title {
            margin-bottom:24px;
            
        }
        .about__text {
            margin-bottom: 111px;
            width: 45%;
            font-family: IBM Plex Sans;
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            @media(max-width:768px) {
                margin-bottom: 498px;
                width: 75%;
            
            }
            @media(max-width:360px) {
                font-family: IBM Plex Sans;
                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: left;
                width: 100%;         
                margin-bottom: 386px;       
            }
            color:$text_regular;
        }
        .about__cards {
            display: flex;
            align-items: flex-start;
            position: relative;
            z-index: 10;
            @media(max-width:360px) {
                flex-direction: column;   
            }
            .about__card {
                width: 32%;
                display: flex;
                flex-direction: column;
                padding: 40px;
                position: relative;
                transition: 0.5s;
                margin-left: 32px;
                @media(max-width:768px) {
                    width: 50%;
                }
                @media(max-width:360px) {
                    width: 100%;
                    margin-left: 0px;
                    padding: 24px;
                }
                &:hover {
                    background-color: $white;
                }
                &:first-child {
                    margin-left: 0px;
                    @media(max-width:360px) {
                        margin-bottom: 48px;
                    }
                }
              
                &_title {
                    margin-bottom: 16px;
                }
                &_text {
                    margin-bottom: 50px;
                }
                &_number {
                    position: absolute;
                    bottom: 40px;
                    right: 40px;
                    color:$accent1;
                }
            }
        }
        .about__img-bg {
            position: absolute;
            top: 0%;
            right: 0;
            z-index: 1;
            @media(max-width:768px) {
                top: 20%;
            }
            @media(max-width:360px) {
                right: -80%;   
            }
        }
        .about__specialists_card {
            position: absolute;
            top: 120px;
            right: 331px;
            z-index: 10;
            width: 253px;
            height: 150px;
            padding-top: 39px;
            padding-left: 20px;
            
            background: url(/public/pictures/background/about__specialists-bg.png) center/cover no-repeat;
            @media(max-width:768px) {
                top: 370px;
            }
            @media(max-width:360px) {
                top: 430px;
                right: 45px;   
            }
        }
    }
}
.contacts {
    width: 100%;
    height: fit-content;
    @media(max-width:360px) {
        padding-bottom: 50px;           
    }
    &__box {
        position: relative;
        width: 100%;
        padding: 64px 273px 72px 72px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media(max-width:768px) {
            padding: 48px 24px 48px 48px;
        }
        @media(max-width:360px) {
            flex-direction: column;  
            padding: 24px 24px 100px 24px;     
        }
        .contacts__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .contacts__title {
            @media(max-width:768px) {
                font-family: Bebas Neue;
                font-size: 35px;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: 0em;
                text-align: left;

                margin-right: 45px;
            }
        }
        .contacts__text {
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0px;
            }
            
            
        }
        .contacts__subtitle {
            margin-bottom: 24px;
            @media(max-width:360px) {
                font-family: IBM Plex Sans;
                font-size: 20px;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
   
            }
        }
    }
}
.footer {
    width: 100%;
    height: fit-content;
    &__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 24px;
        .footer__content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @media(max-width:360px) {
                flex-direction: column;   
            }
            .footer__logo {
                width: 237px;
                height: 84px;
                margin-right: 155px;
                @media(max-width:768px) {
                    margin-right: 51px;
                }
            }
            .footer__items {
                display: flex;
                align-items: center;
                padding: 64px 0px;
                @media(max-width:360px) {
                    align-items:flex-start;
                }
                &_item {
                    margin-right: 48px;
                    @media(max-width:768px) {
                        margin-right: 30px;
                    }
                    @media(max-width:360px) {
                        margin-right: 0px;
                        margin-bottom: 16px;
                        
                    }
                }
                @media(max-width:360px) {
                    flex-direction: column;  
                    width: 100%; 
                    align-items:flex-start;
                    padding: 24px 0px;
                  
                }
            }
        }
    }
}