@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:wght@400;600;700&family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Bebas Neue", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
}
* a {
  text-decoration: none;
}

h1 {
  font-family: Bebas Neue;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #202020;
}

h2 {
  font-family: Bebas Neue;
  font-size: 44px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #202020;
}

h3 {
  font-family: Bebas Neue;
  font-size: 32px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #202020;
}

h4 {
  font-family: IBM Plex Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #202020;
}

.text-bold {
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #202020;
}

.text-regular {
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #202020;
}

.caption {
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #202020;
}

.container {
  width: calc(100% - 224px);
  margin: 0 auto;
}

.swiper {
  width: 100%;
}
.swiper .swiper-button-prev::after {
  font-size: 0px;
}
.swiper .swiper-button-next::after {
  font-size: 0px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.nav {
  width: 100%;
  height: 128px;
  border-bottom: 1px solid #E7E7EE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__box .nav__logo {
  width: 237px;
  height: 64px;
  margin-left: 112px;
}
.nav__box .nav__items {
  display: flex;
  align-items: center;
  margin-right: 110px;
  margin-left: 155px;
}
.nav__box .nav__items_item {
  margin-right: 46px;
}
.nav__box .nav__items_item:last-child {
  margin-right: 0px;
}
.nav__box .nav__contact-button {
  background-color: #FFE143;
  border: none;
  outline: none;
  padding: 54px 112px;
  transition: 0.5s;
}
.nav__box .nav__contact-button:hover {
  background-color: #CBE637;
}

.header {
  width: 100%;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 112px 0px;
}
.header__box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header__box .header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__box .header__content .header__title {
  margin-bottom: 12px;
}
.header__box .header__content .header__title span {
  color: #FFE143;
}
.header__box .header__content .header__subtitle {
  width: 495px;
  margin-bottom: 28px;
}
.header__box .header__content .header__buttons {
  display: flex;
  align-items: center;
}
.header__box .header__content .header__buttons_button {
  background: none;
  border: none;
  outline: none;
  padding: 13px 28px;
  border-radius: 32px;
}
.header__box .header__content .header__buttons .button-left {
  border: 2px solid #FFE143;
  transition: 0.5s;
  margin-right: 25px;
}
.header__box .header__content .header__buttons .button-left:hover {
  background-color: #FFE143;
}
.header__box .header__content .header__buttons .button-right {
  border: 2px solid #CBE637;
  transition: 0.5s;
}
.header__box .header__content .header__buttons .button-right:hover {
  background-color: #CBE637;
}
.header__box .header__right {
  position: absolute;
  top: 0;
  right: 0;
  width: 824px;
  height: 500px;
}
.header__box .header__right img {
  width: 100%;
  height: 100%;
  display: block;
}

.development-sites {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 112px 0px;
  background-color: #F7F8FC;
}
.development-sites .development__box {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.development-sites .development__box .development__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 104px;
}
.development-sites .development__box .development__content .development__title {
  margin-bottom: 16px;
}
.development-sites .development__box .development__content .development__subtitle {
  margin-bottom: 28px;
  width: 520px;
}
.development-sites .development__box .development__content .development__button {
  background-color: #FFE143;
  padding: 13px 28px;
  border-radius: 32px;
  border: none;
  outline: none;
  transition: 0.5s;
}
.development-sites .development__box .development__content .development__button:hover {
  background-color: #CBE637;
}
.development-sites .development__box .development__cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.development-sites .development__box .development__cards_card {
  display: flex;
  align-items: center;
  width: 592px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 32px 54px 32px 32px;
  transition: 0.5s;
  margin-bottom: 16px;
}
.development-sites .development__box .development__cards_card:last-child {
  margin-bottom: 0px;
}
.development-sites .development__box .development__cards_card:hover {
  background-color: #ffffff;
}
.development-sites .development__box .development__cards_card .development__card-icon {
  width: 72px;
  height: 72px;
  margin-right: 24px;
}
.development-sites .development__box .development__cards_card .development__card_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.development-sites .development__box .development__cards_card .development__card_content .development__card_title {
  margin-bottom: 8px;
}

.technologies {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 112px;
  background-color: #F7F8FC;
}
.technologies__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.technologies__box .technologies__title {
  margin-bottom: 40px;
}
.technologies__box .technologies__cards {
  display: flex;
  align-items: flex-start;
}
.technologies__box .technologies__cards_card {
  position: relative;
  padding: 42px 42px 154px 42px;
  transition: 0.5s;
  height: 384px;
}
.technologies__box .technologies__cards_card:nth-of-type(2n) {
  margin: 0px 32px;
}
.technologies__box .technologies__cards_card:hover {
  background-color: #ffffff;
}
.technologies__box .technologies__cards_card .technologies__card_title {
  margin-bottom: 16px;
  color: #202020;
}
.technologies__box .technologies__cards_card .technologies__card_text {
  color: #4A5056;
}
.technologies__box .technologies__cards_card .technologies__card_icon {
  position: absolute;
  bottom: 42px;
  right: 42px;
}

.steps {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 72px 0px 102px 0px;
}
.steps__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.steps__box .steps__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.steps__box .steps__header .slider__arrow {
  display: flex;
  align-items: center;
}
.steps__box .steps__header .slider__arrow-next {
  background-color: #F4F4F6;
  border-radius: 50%;
  padding: 12px;
  margin-left: 16px;
  transition: 0.5s;
}
.steps__box .steps__header .slider__arrow-next:hover {
  background-color: #E7E7EE;
}
.steps__box .steps__header .slider__arrow-prev {
  background-color: #F4F4F6;
  border-radius: 50%;
  padding: 12px;
  transition: 0.5s;
}
.steps__box .steps__header .slider__arrow-prev:hover {
  background-color: #E7E7EE;
}
.steps__box .swiper-slide {
  width: 328px;
}
.steps__box .swiper__number {
  width: 60px;
  height: 60px;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 24px;
  background-color: #FFE143;
  position: relative;
}
.steps__box .swiper__number h4 {
  color: #ffffff;
}
.steps__box .swiper__number::after {
  content: "";
  width: 420px;
  background-color: #FFE143;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}
.steps__box .swiper__title {
  margin-bottom: 16px;
}

.services {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 112px 0px;
  background-color: #F7F8FC;
}
.services__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__box .services__title {
  margin-bottom: 40px;
}
.services__box .services__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.services__box .services__cards_card {
  padding: 30px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.services__box .services__cards_card:hover {
  background-color: #ffffff;
}
.services__box .services__cards_card .services__card_img {
  margin-right: 16px;
}
.services__box .services__cards_top {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 384px);
  grid-template-rows: repeat(2, 104px);
  margin-bottom: 32px;
}
.services__box .services__cards_bottom {
  display: flex;
  align-items: flex-start;
}
.services__box .services__cards_bottom-left {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 384px);
  grid-template-rows: repeat(2, 104px);
}
.services__box .services__cards_bottom .services__cards_form {
  width: 384px;
  height: 240px;
  margin-left: 32px;
  padding: 40px;
  background: url(/public/pictures/background/services-form-bg.png);
}
.services__box .services__cards_bottom .services__cards_form .services__form_title {
  margin-bottom: 8px;
}
.services__box .services__cards_bottom .services__cards_form .services__form_text {
  margin-bottom: 4px;
}

.development-mobile {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 112px 0px;
}
.development-mobile .development__box {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.development-mobile .development__box .development__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 104px;
}
.development-mobile .development__box .development__content .development__title {
  margin-bottom: 16px;
}
.development-mobile .development__box .development__content .development__subtitle {
  margin-bottom: 28px;
  width: 520px;
}
.development-mobile .development__box .development__content .development__button {
  background-color: #FFE143;
  padding: 13px 28px;
  border-radius: 32px;
  border: none;
  outline: none;
  transition: 0.5s;
}
.development-mobile .development__box .development__content .development__button:hover {
  background-color: #CBE637;
}
.development-mobile .development__box .development__cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.development-mobile .development__box .development__cards .development__card {
  width: 592px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #F7F8FC;
  padding: 16px 0px;
}
.development-mobile .development__box .development__cards .development__card:last-child {
  border-bottom: 2px solid #F7F8FC;
}
.development-mobile .development__box .development__cards .development__card_button {
  background-color: #F7F8FC;
  padding: 12px;
  border-radius: 50%;
}

.trust {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 112px 0px;
  background-color: #F7F8FC;
}
.trust__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trust__box .trust__title {
  margin-bottom: 42px;
}
.trust__box .trust__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trust__box .trust__cards_card {
  margin-bottom: 62px;
  padding: 56px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.trust__box .trust__cards_card:last-child {
  margin-bottom: 0px;
}
.trust__box .trust__cards_card .trust__card_left {
  margin-right: 72px;
  width: 392px;
  height: 392px;
}
.trust__box .trust__cards_card .trust__card_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.trust__box .trust__cards_card .trust__card_content .trust__card_title {
  margin-bottom: 12px;
}
.trust__box .trust__cards_card .trust__card_content .trust__card_text {
  margin-bottom: 24px;
  color: #4A5056;
}
.trust__box .trust__cards_card .trust__card_content .trust__card_list_title {
  margin-bottom: 10px;
  color: #202020;
}
.trust__box .trust__cards_card .trust__card_content .trust__card_lists {
  display: flex;
  align-items: flex-start;
  margin-bottom: 43px;
}
.trust__box .trust__cards_card .trust__card_content .trust__card_lists ul {
  list-style-type: none;
  margin-right: 45px;
}
.trust__box .trust__cards_card .trust__card_content .trust__card_lists ul:last-child {
  margin-right: 0px;
}
.trust__box .trust__cards_card .trust__card_content .trust__card_lists ul li {
  margin-bottom: 10px;
  position: relative;
  margin-left: 22px;
  color: #4A5056;
}
.trust__box .trust__cards_card .trust__card_content .trust__card_lists ul li::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #FFE143;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}
.trust__box .trust__cards_card .trust__card_content .trust__card_button {
  padding: 13px 26px;
  color: #202020;
  border-radius: 32px;
  background-color: #FFE143;
  border: none;
  outline: none;
  transition: 0.5s;
}
.trust__box .trust__cards_card .trust__card_content .trust__card_button:hover {
  background-color: #CBE637;
}/*# sourceMappingURL=main.css.map */