<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechRoal</title>
    <link rel="stylesheet" href="../css/main.css">

</head>
<body>
    <nav class="nav">
       
            <div class="nav__box">
                <img src="/public/pictures/icons/logo.svg" alt="" class="nav__logo">
                <div class="nav__items">
                    <a href="" class="nav__items_item text-bold">Услуги</a>
                    <a href="" class="nav__items_item text-bold">Технологии</a>
                    <a href="" class="nav__items_item text-bold">Нам доверяют</a>
                    <a href="" class="nav__items_item text-bold">О нас</a>
                </div>
                <button class="nav__contact-button"><h4>Связаться с нами</h4></button>
            </div>
    </nav>
    <header class="header">
        <div class="container">
            <div class="header__box">
                <div class="header__content">
                    <h1 class="header__title"><span>&lt;H1&gt;</span>DIGITAL РЕШЕНИЯ <br> для вашего бизнеса <span>&lt;H1&gt;</span></h1> 
                    <p class="header__subtitle text-regular">Создаем сайты и мобильные приложения. Разработка под ключ: от проектирования до запуска и технической поддержки. </p>
                    <div class="header__buttons">
                        <button class="header__buttons_button button-left text-bold">Веб-сайты</button>
                        <button class="header__buttons_button button-right text-bold">Приложения</button>
                    </div>
                </div>
                <div class="header__right">
                    <img src="/public/pictures/images/header-right-img.png" alt="" class="header__right_img">
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="development">
            <div class="container">
                <div class="development__box">
                    <div class="development__content">
                        <h2 class="development__title">РАЗРАБОТКА САЙТОВ</h2>
                        <p class="development__subtitle text-regular">Создаем эффективный инструмент для презентации вашей компании в сети и привлечения новых клиентов. Разрабатываем сайты с уникальным дизайном и наполняем их всем необходимыми модулями и функционалом.</p>
                        <button class="development__button text-bold">Связаться с нами</button>
                    </div>
                    <div class="development__cards">
                        <div class="development__cards_card">
                            <img src="/public/pictures/icons/development-cards-aesthetics.svg" alt="" class="development__card-icon">
                            <div class="development__card_content">
                                <h4 class="development__card_title">Эстетика</h4>
                                <p class="development__card_text text-regular">Делаем стильный и лаконичный дизайн, оптимизированный под все устройства.</p>
                            </div>
                        </div>
                        <div class="development__cards_card">
                            <img src="/public/pictures/icons/development-cards-comfort.svg" alt="" class="development__card-icon">
                            <div class="development__card_content">
                                <h4 class="development__card_title">Удобство использования</h4>
                                <p class="development__card_text text-regular">Создаем сайты с четкой структурой и понятной навигацией.</p>
                            </div>
                        </div>
                        <div class="development__cards_card">
                            <img src="/public/pictures/icons/development-cards-efficiency.svg" alt="" class="development__card-icon">
                            <div class="development__card_content">
                                <h4 class="development__card_title">Эффективность</h4>
                                <p class="development__card_text text-regular">Наполняем сайт конверсионным функционалом для получения заявок.</p>
                            </div>
                        </div>
                        <div class="development__cards_card">
                            <img src="/public/pictures/icons/development-cards-advance.svg" alt="" class="development__card-icon">
                            <div class="development__card_content">
                                <h4 class="development__card_title">Продвижение</h4>
                                <p class="development__card_text text-regular">Учитываем все факторы продвижения сайта в поисковых системах Google и Yandex.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="technologies">
            <div class="container">
                <div class="technologies__box">
                    <h2 class="technologies__title">ТЕХНОЛОГИИ</h2>
                    <div class="technologies__cards">
                        <div class="technologies__cards_card">
                            <h4 class="technologies__card_title">Laravel фреймворк</h4>
                            <p class="technologies__card_text">Обладает функциями безопасности — защищает от SQL-инъекции и кросс-сайтового скриптинга. Высокая отдача улучшает скорость загрузки веб-страниц в браузеры, а это значимый фактор поискового ранжирования.</p>
                            <img src="/public/pictures/icons/laravel-icon.svg" alt="" class="technologies__card_icon">
                        </div>
                        <div class="technologies__cards_card">
                            <h4 class="technologies__card_title">Nuxt.js фреймворк </h4>
                            <p class="technologies__card_text">Автоматически генерирует страницы, что значительно улучшает индексацию сайта поисковиками. Позволяет расширять функционал с малыми затратами в ресурсах. Это делает продукт легко масштабируемым.</p>
                            <img src="/public/pictures/icons/Nuxt-icon.svg" alt="" class="technologies__card_icon">
                        </div>
                        <div class="technologies__cards_card">
                            <h4 class="technologies__card_title">Vue.js фреймворк </h4>
                            <p class="technologies__card_text">Имеет большое количество готовых библиотек, а значит позволяет быстро разрабатывать без потерь в качестве. Пользуется популярностью, что упрощает поиск программиста на техническую поддержку.</p>
                            <img src="/public/pictures/icons/Vue-icon.svg" alt="" class="technologies__card_icon">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>