<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechRoal</title>
    <link rel="stylesheet" href="../css/main.css">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

</head>
<body>
    <nav class="nav">
       
            <div class="nav__box">
                <img src="/public/pictures/icons/logo.svg" alt="" class="nav__logo">
                <div class="nav__items">
                    <a href="" class="nav__items_item text-bold">Услуги</a>
                    <a href="" class="nav__items_item text-bold">Технологии</a>
                    <a href="" class="nav__items_item text-bold">Нам доверяют</a>
                    <a href="" class="nav__items_item text-bold">О нас</a>
                </div>
                <button class="nav__contact-button"><h4>Связаться с нами</h4></button>
            </div>
    </nav>
    <header class="header">
        <div class="container">
            <div class="header__box">
                <div class="header__content">
                    <h1 class="header__title"><span>&lt;H1&gt;</span>DIGITAL решения <br> для вашего бизнеса <span>&lt;H1&gt;</span></h1> 
                    <p class="header__subtitle text-regular">Создаем сайты и мобильные приложения. Разработка под ключ: от проектирования до запуска и технической поддержки. </p>
                    <div class="header__buttons">
                        <button class="header__buttons_button button-left text-bold">Веб-сайты</button>
                        <button class="header__buttons_button button-right text-bold">Приложения</button>
                    </div>
                </div>
                <div class="header__right">
                    <img src="/public/pictures/images/header-right-img.png" alt="" class="header__right_img">
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="development-sites">
            <div class="container">
                <div class="development__box">
                    <div class="development__content">
                        <h2 class="development__title">Разработка сайтов</h2>
                        <p class="development__subtitle text-regular">Создаем эффективный инструмент для презентации вашей компании в сети и привлечения новых клиентов. Разрабатываем сайты с уникальным дизайном и наполняем их всем необходимыми модулями и функционалом.</p>
                        <button class="development__button text-bold">Связаться с нами</button>
                    </div>
                    <div class="development__cards">
                        <div class="development__cards_card">
                            <img src="/public/pictures/icons/development-cards-aesthetics.svg" alt="" class="development__card-icon">
                            <div class="development__card_content">
                                <h4 class="development__card_title">Эстетика</h4>
                                <p class="development__card_text text-regular">Делаем стильный и лаконичный дизайн, оптимизированный под все устройства.</p>
                            </div>
                        </div>
                        <div class="development__cards_card">
                            <img src="/public/pictures/icons/development-cards-comfort.svg" alt="" class="development__card-icon">
                            <div class="development__card_content">
                                <h4 class="development__card_title">Удобство использования</h4>
                                <p class="development__card_text text-regular">Создаем сайты с четкой структурой и понятной навигацией.</p>
                            </div>
                        </div>
                        <div class="development__cards_card">
                            <img src="/public/pictures/icons/development-cards-efficiency.svg" alt="" class="development__card-icon">
                            <div class="development__card_content">
                                <h4 class="development__card_title">Эффективность</h4>
                                <p class="development__card_text text-regular">Наполняем сайт конверсионным функционалом для получения заявок.</p>
                            </div>
                        </div>
                        <div class="development__cards_card">
                            <img src="/public/pictures/icons/development-cards-advance.svg" alt="" class="development__card-icon">
                            <div class="development__card_content">
                                <h4 class="development__card_title">Продвижение</h4>
                                <p class="development__card_text text-regular">Учитываем все факторы продвижения сайта в поисковых системах Google и Yandex.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="technologies">
            <div class="container">
                <div class="technologies__box">
                    <h2 class="technologies__title">Технологии</h2>
                    <div class="technologies__cards">
                        <div class="technologies__cards_card">
                            <h4 class="technologies__card_title">Laravel фреймворк</h4>
                            <p class="technologies__card_text">Обладает функциями безопасности — защищает от SQL-инъекции и кросс-сайтового скриптинга. Высокая отдача улучшает скорость загрузки веб-страниц в браузеры, а это значимый фактор поискового ранжирования.</p>
                            <img src="/public/pictures/icons/laravel-icon.svg" alt="" class="technologies__card_icon">
                        </div>
                        <div class="technologies__cards_card">
                            <h4 class="technologies__card_title">Nuxt.js фреймворк </h4>
                            <p class="technologies__card_text">Автоматически генерирует страницы, что значительно улучшает индексацию сайта поисковиками. Позволяет расширять функционал с малыми затратами в ресурсах. Это делает продукт легко масштабируемым.</p>
                            <img src="/public/pictures/icons/Nuxt-icon.svg" alt="" class="technologies__card_icon">
                        </div>
                        <div class="technologies__cards_card">
                            <h4 class="technologies__card_title">Vue.js фреймворк </h4>
                            <p class="technologies__card_text">Имеет большое количество готовых библиотек, а значит позволяет быстро разрабатывать без потерь в качестве. Пользуется популярностью, что упрощает поиск программиста на техническую поддержку.</p>
                            <img src="/public/pictures/icons/Vue-icon.svg" alt="" class="technologies__card_icon">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="steps">
            <div class="container">
                <div class="steps__box">
                    <div class="steps__header">
                        <h2 class="steps__title">Этапы разработки сайта</h2>
                        <div class="slider__arrow">
                            <div class="slider__arrow-prev">
                                <img src="/public/pictures/icons/slider-arrow-prev.svg" alt="">
                            </div>
                            <div class="slider__arrow-next">
                                <img src="/public/pictures/icons/slider-arrow-next.svg" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="swiper__number">
                                    <h4>01</h4>
                                </div>
                                <h4 class="swiper__title">Постановка целей проекта</h4>
                                <p class="swiper__text">Анализируем сайты конкурентов по структуре, функциональности и дизайну, описываем вашу целевую аудиторию. Определяем, какие задачи бизнеса будет решать сайт.</p>
                            </div>

                            <div class="swiper-slide">
                                <div class="swiper__number">
                                    <h4>02</h4>
                                </div>
                                <h4 class="swiper__title">Разработка техзадания</h4>
                                <p class="swiper__text">Определяем структуру сайта и согласовываем наличие модулей. Описываем элементы дизайна (цвет, шрифты, графику) на основе фирменного стиля и понравившихся вам сайтов.</p>
                            </div>
                          
                            <div class="swiper-slide">
                                <div class="swiper__number">
                                    <h4>03</h4>
                                </div>
                                <h4 class="swiper__title">Создание дизайн-макета</h4>
                                <p class="swiper__text">Прорабатываем оговоренное количество дизайн-макетов главной страницы и согласовываем один вариант. Создаем макеты внутренних страниц и согласовываем каждую из них, вносим правки.</p>
                            </div>

                            <div class="swiper-slide">
                                <div class="swiper__number">
                                    <h4>04</h4>
                                </div>
                                <h4 class="swiper__title">Разработка сайта</h4>
                                <p class="swiper__text">Пишем "красивый" код и проверяем его на валидность (корректность). Это позволит без труда разобраться с кодом стороннему специалисту.</p>
                            </div>

                            <div class="swiper-slide">
                                <div class="swiper__number">
                                    <h4>05</h4>
                                </div>
                                <h4 class="swiper__title">Наполнение контентом</h4>
                                <p class="swiper__text">Заполняем сайт текстовым и графическим контентом или даем вам инструкцию по работе с админ-панелью, чтобы вы могли сделать это самостоятельно. </p>
                            </div>

                            <div class="swiper-slide">
                                <div class="swiper__number">
                                    <h4>06</h4>
                                </div>
                                <h4 class="swiper__title">Тестирование</h4>
                                <p class="swiper__text">Проверяем работоспособность сайта и соответствие верстки дизайну. Устраняем недочеты при их выявлении.</p>
                            </div>

                            <div class="swiper-slide">
                                <div class="swiper__number">
                                    <h4>07</h4>
                                </div>
                                <h4 class="swiper__title">Запуск сайта</h4>
                                <p class="swiper__text">Переносим проект на хостинг и присваиваем ему доменное имя. Выполняем все оговоренные в ТЗ дополнительные услуги.</p>
                            </div>

                        </div>

                      
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                      
                       
                      </div>

                </div>
            </div>
        </section>
        <section class="services">
            <div class="container">
                <div class="services__box">
                    <h2 class="services__title">Дополнительные услуги</h2>
                    <div class="services__cards">
                        <div class="services__cards_top">
                            <div class="services__cards_card">
                                <img src="/public/pictures/icons/services-icon-support.svg" alt="" class="services__card_img">
                                <h4 class="services__card_text">Техническая поддержка</h4>
                            </div>
                            <div class="services__cards_card">
                                <img src="/public/pictures/icons/services-icon-optimization.svg" alt="" class="services__card_img">
                                <h4 class="services__card_text">Оптимизация скорости загрузки</h4>
                            </div>
                            <div class="services__cards_card">
                                <img src="/public/pictures/icons/services-icon-audit.svg" alt="" class="services__card_img">
                                <h4 class="services__card_text">Аудит и улучшение юзабилити</h4>
                            </div>
                            <div class="services__cards_card">
                                <img src="/public/pictures/icons/services-icon-security.svg" alt="" class="services__card_img">
                                <h4 class="services__card_text">Защита от взломов и спама</h4>
                            </div>
                            <div class="services__cards_card">
                                <img src="/public/pictures/icons/services-icon-sslcertificate.svg" alt="" class="services__card_img">
                                <h4 class="services__card_text">Установка SSL-сертификата</h4>
                            </div>
                            <div class="services__cards_card">
                                <img src="/public/pictures/icons/services-icon-adaptive.svg" alt="" class="services__card_img">
                                <h4 class="services__card_text">Создание адаптивов </h4>
                            </div>
                        </div>
                        <div class="services__cards_bottom">
                            <div class="services__cards_bottom-left">
                                <div class="services__cards_card">
                                    <img src="/public/pictures/icons/services-icon-content.svg" alt="" class="services__card_img">
                                    <h4 class="services__card_text">Наполнение контентом</h4>
                                </div>
                                <div class="services__cards_card">
                                    <img src="/public/pictures/icons/services-icon-analitycs.svg" alt="" class="services__card_img">
                                    <h4 class="services__card_text">Установка сервисов аналитики</h4>
                                </div>
                                <div class="services__cards_card">
                                    <img src="/public/pictures/icons/services-icon-cleaning.svg" alt="" class="services__card_img">
                                    <h4 class="services__card_text">Чистка от вирусов</h4>
                                </div>
                                <div class="services__cards_card">
                                    <img src="/public/pictures/icons/services-icon-plugins.svg" alt="" class="services__card_img">
                                    <h4 class="services__card_text">Подключение чатов, плагинов</h4>
                                </div>
                            </div>
                            <form action="" class="services__cards_form">
                                <h3 class="services__form_title">Давайте обсудим <br> ваш проект</h3>
                                <p class="services__form_text text-regular">Напишите нам</p>
                                <p class="services__form_text text-bold">techroal.development@gmail.com</p>
                                <p class="services__form_text text-regular">Или позвоните</p>
                                <p class="services__form_text text-bold">+375 (44) 778-02-52</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="development-mobile">
            <div class="container">
                <div class="development__box">
                    <div class="development__content">
                        <h2 class="development__title">Разработка мобильных <br> приложений</h2>
                        <p class="development__subtitle text-regular">Мы разрабатываем мобильные приложения под любые нужды на кроссплатформенном фреймворке — React Native. На нем написаны такие мировые гиганты, как Instagram, UberEats, Facebook Ads, Airbnb и многие другие. Мы можем воплотить в реальность абсолютно любую вашу идею.</p>
                        <button class="development__button text-bold">Связаться с нами</button>
                    </div>
                    <div class="development__cards">
                        <div class="development__card">
                            <div class="development__card_header">
                                <h4 class="development__card_title">01. Сбор ваших требований и определений целей</h4>
                                <div class="development__card_button development__card_button-plus show">
                                    <img src="/public/pictures/icons/development-icon-plus.svg" alt="" class="development__card_button-plus">
                                    
                                </div>
                                <div class="development__card_button development__card_button-close hide">
                                        <img src="/public/pictures/icons/development-icon-close.svg" alt="" class="development__card_button-close">
                                </div>
                            </div>
                            <div class="development__card_content hide">
                             
                                <p class="text-bold">Определяем, какие задачи будут решаться с помощью приложения и какие бизнес-процессы будут автоматизированы.</p>
                            </div>
                        </div>
                        <div class="development__card">
                            <div class="development__card_header">
                                <h4 class="development__card_title">02. Разработка технического задания</h4>
                                <div class="development__card_button development__card_button-plus show">
                                    <img src="/public/pictures/icons/development-icon-plus.svg" alt="" class="development__card_button-plus">
                                    
                                </div>
                                <div class="development__card_button development__card_button-close hide">
                                        <img src="/public/pictures/icons/development-icon-close.svg" alt="" class="development__card_button-close">
                                </div>
                            </div>
                            <div class="development__card_content hide">
                             
                                <p class="text-bold">Пишем документ, в котором фиксируем объем работ и полный список функций под реализацию.</p>
                            </div>
                        </div>
                        <div class="development__card">
                            <div class="development__card_header">
                                <h4 class="development__card_title">03. Создание дизайн-макета</h4>
                                <div class="development__card_button development__card_button-plus show">
                                    <img src="/public/pictures/icons/development-icon-plus.svg" alt="" class="development__card_button-plus">
                                    
                                </div>
                                <div class="development__card_button development__card_button-close hide">
                                        <img src="/public/pictures/icons/development-icon-close.svg" alt="" class="development__card_button-close">
                                </div>
                            </div>
                            <div class="development__card_content hide">
                             
                                <p class="text-bold">Отрисовываем каждый экран, ориентируясь на гайдлайны Android и iOS и визуальный стиль приложения.</p>
                            </div>
                        </div>
                        <div class="development__card">
                            <div class="development__card_header">
                                <h4 class="development__card_title">04. Разработка согласно дизайн-макету</h4>
                                <div class="development__card_button development__card_button-plus show">
                                    <img src="/public/pictures/icons/development-icon-plus.svg" alt="" class="development__card_button-plus">
                                    
                                </div>
                                <div class="development__card_button development__card_button-close hide">
                                        <img src="/public/pictures/icons/development-icon-close.svg" alt="" class="development__card_button-close">
                                </div>
                            </div>
                            <div class="development__card_content hide">
                             
                                <p class="text-bold">Переводим в код отрисованные дизайнером макеты.</p>
                            </div>
                        </div>
                        <div class="development__card">
                            <div class="development__card_header">
                                <h4 class="development__card_title">05. Наполнение контентом</h4>
                                <div class="development__card_button development__card_button-plus show">
                                    <img src="/public/pictures/icons/development-icon-plus.svg" alt="" class="development__card_button-plus">
                                    
                                </div>
                                <div class="development__card_button development__card_button-close hide">
                                        <img src="/public/pictures/icons/development-icon-close.svg" alt="" class="development__card_button-close">
                                </div>
                            </div>
                            <div class="development__card_content hide">
                             
                                <p class="text-bold">Наполняем актуальным текстовым и графическим контентом.</p>
                            </div>
                        </div>
                        <div class="development__card">
                            <div class="development__card_header">
                                <h4 class="development__card_title">06. Тестирование</h4>
                                <div class="development__card_button development__card_button-plus show">
                                    <img src="/public/pictures/icons/development-icon-plus.svg" alt="" class="development__card_button-plus">
                                    
                                </div>
                                <div class="development__card_button development__card_button-close hide">
                                        <img src="/public/pictures/icons/development-icon-close.svg" alt="" class="development__card_button-close">
                                </div>
                            </div>
                            <div class="development__card_content hide">
                             
                                <p class="text-bold">Проверяем наличие нужного функционала, сверяем на соответствие дизайн-макету и тестируем производительность.</p>
                            </div>
                        </div>
                        <div class="development__card">
                            <div class="development__card_header">
                                <h4 class="development__card_title">07. Запуск приложения в AppStore, Google Play</h4>
                                <div class="development__card_button development__card_button-plus show">
                                    <img src="/public/pictures/icons/development-icon-plus.svg" alt="" class="development__card_button-plus">
                                    
                                </div>
                                <div class="development__card_button development__card_button-close hide">
                                        <img src="/public/pictures/icons/development-icon-close.svg" alt="" class="development__card_button-close">
                                </div>
                            </div>
                            <div class="development__card_content hide">
                             
                                <p class="text-bold">Анализируем приложение на соответствие правилам Google Play и App Store, проходим модерацию и запускаем приложение.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="trust">
            <div class="container">
                <div class="trust__box">
                    <h2 class="trust__title">Нам доверяют</h2>
                    <div class="trust__cards">
                        <div class="trust__cards_card">
                            <div class="trust__card_left">
                                <img src="/public/pictures/images/trust-primus-image.png" alt="">
                            </div>
                            <div class="trust__card_content">
                                <h3 class="trust__card_title">Primus Capital</h3>
                                <p class="trust__card_text text-regular">Primus Capital — динамично развивающаяся инвестиционная компания, базирующаяся в Казахстане, цель которой — расширять возможности сообществ и улучшать жизнь людей за счет инвестиций в инновационное производство, образование, здравоохранение, строительство, девелопмент недвижимости и другие отрасли. </p>
                                <p class="trust__card_list_title text-bold">Что было сделано</p>
                                <div class="trust__card_lists">
                                    <ul>
                                        <li class="caption">Создание концепции и дизайн-макета</li>
                                        <li class="caption"> Front-end и Back-end разработка</li>
                                        <li class="caption">SEO-оптимизация</li>
                                    </ul>
                                    <ul>
                                        <li class="caption">Подключение https</li>
                                        <li class="caption">Покупка домена</li>
                                        <li class="caption">Развертывание сайта на хостинге</li>
                                    </ul>
                                </div>
                                <button class="trust__card_button text-bold">Смотреть сайт</button>
                            </div>
                        </div>
                        <div class="trust__cards_card">
                            <div class="trust__card_left">
                                <img src="/public/pictures/images/trust-eurasian-image.png" alt="">
                            </div>
                            <div class="trust__card_content">
                                <h3 class="trust__card_title">Eurasian Resources Group</h3>
                                <p class="trust__card_text text-regular">ERG — Eurasian Resources Group является одной из ведущих в мире компаний по добыче и переработке природных ресурсов. Также имеет полностью интегрированные энергетические, транспортные и маркетинговые операции. Компания представлена в 16 странах мира на четырех континентах и является одним из крупнейших работодателей в отрасли.</p>
                                <p class="trust__card_list_title text-bold">Что было сделано</p>
                                <div class="trust__card_lists">
                                    <ul>
                                        <li class="caption">Разработка корпоративного портала</li>
                                        <li class="caption">Админ-панель с возможностью добавлять новости компании</li>
                                        <li class="caption">Техническая поддержка</li>
                                    </ul>
                                </div>
                                <button class="trust__card_button text-bold">Смотреть сайт</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about">
            <div class="container">
                <div class="about__box">
                    <h2 class="about__title">О нас</h2>
                    <p class="about__text text-regular">Мы — амбициозная команда профессионалов, где каждый горит своим делом и прилагает все усилия для реализации лучшего решения для бизнеса!</p>
                    <div class="about__cards">
                        <div class="about__card">
                            <h4 class="about__card_title">Гибкие в общении</h4>
                            <p class="about__card_text text-regular">Мы всегда находимся на связи, даем выбор и помогаем с ним, если возникают трудности. Мы открыты к предложениям и улучшениям в рамках существующих договоренностей между заказчиком и нами — исполнителем. Наша главная цель — качественно выполненная услуга и довольные клиенты.</p>
                            <h4 class="about__card_number">01</h4>
                        </div>
                        <div class="about__card">
                            <h4 class="about__card_title">Работаем честно и открыто</h4>
                            <p class="about__card_text text-regular">Мы заключаем договор на предоставление услуг, в рамках которого предоставляем отчет об оказанных услугах. В договоре прописываем сроки выполнения работ и меры, которые предпринимаются в случае невыполнения всех услуг в срок. Но такое точно не случится, ведь мы ценим ваше время:)</p>
                            <h4 class="about__card_number">02</h4>
                        </div>
                    </div>
                    <img src="/public/pictures/background/about-bg-image.png" alt="" class="about__img-bg">
                    <div class="about__specialists_card">
                        <div class="about__specialists_content">
                            <h3 class="about__specialists_title">9 специалистов</h3>
                            <p class="about__specialists_text text-regular">из Беларуси</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contacts">
            <div class="container">
                <div class="contacts__box">
                    <h2 class="contacts__title">Свяжитесь с нами</h2>
                    <div class="contacts__content">
                        <p class="contacts__text text-regular">Позвоните нам</p>
                        <h3 class="contacts__subtitle">+375 (44) 778-02-52</h3>
                        <p class="contacts__text text-regular">Напишите нам</p>
                        <h4 class="contacts__text">techroal.development@gmail.com</h4>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__box">
               <div class="footer__content">
                    <img src="/public/pictures/icons/logo.svg" alt="" class="footer__logo">
                    <div class="footer__items">
                        <a href="" class="footer__items_item text-regular">Услуги</a>
                        <a href="" class="footer__items_item text-regular">Технологии</a>
                        <a href="" class="footer__items_item text-regular">Нам доверяют</a>
                        <a href="" class="footer__items_item text-regular">О нас</a>
                    </div>
               </div>
               <p class="footer__law caption">© Techroal. Все права защищены </p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>